aula02/AppSistemaAtendimento/PrjFinalizarAtendimento/SOA/Schemas/finalizarAtendimento.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.fiap.com.br"
            targetNamespace="http://www.fiap.com.br" elementFormDefault="qualified">
  <xsd:element name="paramIn">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="idAtendimento" type="xsd:integer"/>
        <xsd:element name="servico" type="xsd:string"/>
        <xsd:element name="avaliacao" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="paramOut"/>
</xsd:schema>
