aula02/modulo-2/workspace-aula2/avaliacao/src/main/resources/avaliacao.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.fiap.com.br/mba/scj/avaliacao"
	targetNamespace="http://www.fiap.com.br/mba/scj/avaliacao"
	elementFormDefault="qualified">

	<xs:element name="registrarAvaliacaoRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dataInicio" type="xs:dateTime" />
				<xs:element name="dataFim" type="xs:dateTime" />
				<xs:element name="avaliacao" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>